body{
    font-size: 22px;
}

p{
    color: purple;
}

.gray {
    color: gray;
}

#second {
    font-style : italic;
}

h1 , h2 {
    font-size: 50px;
    color: blue;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}
