body{
    padding: 10%;
    font-size: 1.5rem;
}

/* input , button {
    font : inherit
} */

p{
    text-decoration: underline;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    word-spacing: 0.2em ;
    font-weight: 500;
    font-style: ;
}